{% load staticfiles %} 
{% load mathfilters %}
<html>
<head>
    <title>{% block title %} Shopping cart {% endblock %}</title>
</head>
<body>
{% block header %}{% endblock %}<br />
{% block messages %}{% endblock%}
{% block mainblock %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "shopicart/css/table.css" %}" />
<script type="text/javascript" src={% static "shopicart/js/validation.js" %}></script>
<script type="text/javascript" src={% static "shopicart/js/confirmmsg.js" %}></script>
</body>
</html>