{% extends "shopicart/base.html" %}
{% block header %}
{% include "shopicart/header.html" %}
{% endblock %}
{% load mathfilters %}
{% block messages %}
  {{ message }}
{% endblock %}

{% block  mainblock %}
 <table width="100%" align="center" border="0" bgcolor="E6E6E6">
 <hr /><br />
    {% for product in products %}
	<table width="100%">
       <tr>
                <td class="tableImg">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></td>
                  <td class="tableDec"> <p><b>Title : <b>{{ product.title|capfirst }}</p>
                   <p> <b>Description :</b>{{ product.description|capfirst }}</p>
                   </td>
                   {% for objuc in ucobj %}
                   {% if objuc.product_id == product.id %}
                   <td>
                     <p><b>Qty: {{ objuc.qty }}</b></p>
                   </td> 
                    <td class="tableDate"><p> <b>Price :</b>{{ product.price|mul:objuc.qty }}</p></td>
                   {% endif %}
                   {% endfor %}
         </tr>
    </table>
     <hr/>
     {% endfor %}
</table>
     {% if total  %}
            <h4 align="right"> <p>Total Amount  = {{ total }}</p></h4> 
            <h1 align="right"><a href="{% url 'shopicart:payamount' userid %}"><button onclick="return myFunction({{total}}) " >Go for payment</button></a>  </h1>
     {% endif %}
{% endblock %}