{% load staticfiles %}
<html> 
<head> 
<title>Home</title> 
</head> 
<link rel="stylesheet" type="text/css" href="{% static "shopiart/css/table.css" %}" />
<script type="text/javascript" src={% static "shopicart/js/confirmmsg.js" %}>
</script>
<body> 
{% csrf_token %}
<h3 align="center"> <header>Welcome to the Shopping Cart</header> </h4> 
<hr align="center">
<div align="right">
<p>Welcome, {{ username }} <a href="{% url 'shopicart:logout_view' %}">Logout</a></p> 
</div>
<p>
  <h3 align="left">Products in your cart is....</h3> 
  <hr>
  <a href="{% url 'shopicart:mycart' userid %}">Back</a> 
  <a href="{% url 'shopicart:home' %}">Home</a>
</p>
<h3 align="center"><p>{{ message|capfirst }}</p></h3>
<table width="100%" border="0">
  <tr valign="top">
    <td bgcolor="E6E6E6" height="1200" width="60%" align="center">
       {% for product in products %}
            <table width="100%">
              <tr>
                <th align="center" width="20%">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></th>
                  <th align="left" width="70%"> <p><b>capfirst : <b>{{ product.capfirst }}</p>
                   <p> <b>Description :</b>{{ product.description }}</p> 
                   </th>
                   <th align="left" width="10%"> <p> <b>Price :</b>{{ product.price }}</p></th>
                   <hr> 
       {% endfor %}
              </tr>
            </table>
            <hr>
            <h4 align="right"> <p>Total Amount  = {{ total }}</p></h4> 
            <h1 align="right"><a href="{% url 'shopicart:payamount' userid %}"><button onclick="return myFunction({{total}}) " >Go for payment</button></a>  </h1>
         </td> 
   </tr>
<table>
</body>
</html>