<html>
<body>
<h3 align="center"> <header>Welcome to the Shopping Cart</header> </h3> 
<hr align="center">
<table width="100%" align="center">
  <tr>
    <th align="left" width="40%">   
      <p>
      <a href="/shopicart/home/">Back</a>
      <a href="/shopicart/home/">Home</a> 
      <a href="/shopicart/home/userCart/{{ userid }}/history/">History</a>   
      <a href="/shopicart/home/userCart/{{ userid }}/checkout/">Checkout</a>      
      </p>
    </th>
    <th align="right" width="60%">
      <p>Welcome, {{ username }} <a href="/shopicart/logout/">Logout</a></p> 
    </th>
  </tr>
</table>
</body>
</html>