{% extends "shopicart/base.html" %}
{% block header %}
{% include "shopicart/header.html" %}
{% endblock %}

{% block messages %}
  <p>{{ message }}</p>
{% endblock %}

{% block mainblock %}
<form id="historyform">
{% csrf_token %}
 <table width="100%" align="center" border="0" bgcolor="E6E6E6">
 <hr /><br />
  {% for date in dates %}
  <tr align="left"><h4>Order date :{{ date }}</h4></tr>
    {% for product in products %}
       {% if date == product.pur_date %}
	<table width="100%">
       <tr>
                <td class="tableImg">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></td>
                  <td class="tableDec"> <p><b>Title : <b>{{ product.title|capfirst }}</p>
                  </td> 
                  <td class="tablePrice"><p> <b> Qty : {{ product.qty }}</b> </p></td>
                  <td class="tablePrice"><p> <b>Price :</b>{{ product.price|capfirst }}</p></td>
         </tr>
    </table>
       {% endif %}
    {% endfor %} 
      <h4 align="right">Total Amount : {{ total }}</h4>
      <h4 align="right"> <a href="{% url 'shopicart:historydel' userid date.year date.month date.day %}">Remove</a> </h4>
    <hr/>
  {% endfor %} 
  </table>
</form>
{% endblock %}
