<html> 
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "shopicart/css/table.css" %}" />
<body> 
<form>
{% csrf_token %}
<h3 align="center"> <header>Welcome to the Shopping Cart</header> </h4> 
<hr align="center">
<div align="right">
<p>Welcome, {{ username }} <a href="{% url 'shopicart:logout_view' %}">Logout</a></p> 
</div>
<p>
  <h3 align="left">Products purchesed by you</h3>
  <a href="{% url 'shopicart:mycart' userid %}">Back</a>
  <a href="{% url 'shopicart:home' %}">Home</a> 
  <a href="{% url 'shopicart:removehistoryall' userid %}">Clear history</a>
  <h3 align="center"> <p>{{ message|capfirst }}</p> </h3>
  <hr>
</p>
  
<table width="100%" border="0">
  <tr valign="top">
    <td bgcolor="E6E6E6" height="1200" width="60%" align="center">
       {% for product in products %}
            <table width="100%">
              <tr>
                <th align="center" width="10%">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></th>
                  <th align="left" width="60%"> <p><b>Title : <b>{{ product.title|capfirst }}</p>
                   <p> <b>Price :</b>{{ product.price }}</p>
                   </th>
                   <th width="30%"><p><b>Date :</b>{{ product.pur_date }}</p></th>
                   <th align="right" width="20%">
                   <a href="{% url 'shopicart:removehistory' userid product.id %}">Remove</a>
                   </th>         
                   <hr> 
       {% endfor %}
          
              </tr>
            </table>
    </td> 
   </tr>
<table>
</form>
</body>
</html>