<html> 
<head> 
<title>Shopping cart</title> 
</head>
{% load staticfiles %} 
<link rel="stylesheet" type="text/css" href="{% static "shopicart/css/table.css" %}" />
<body> 
{% csrf_token %}
<h3 align="center"> <header>Welcome to the Shopping Cart</header> </h3> 
<hr align="center">
<div align="right">
<p>Welcome, {{ username }}<a href="{% url 'shopicart:logout_view' %}">Logout</a></p>
</div>

 <a href="/shopicart/home/userCart/{{ userid }}/">View MyCart</a> 
 <h4 align="center"><p> {{ message|capfirst }} </p></h4> 
<form name="searchform" method="POST" action="{% url 'shopicart:search' %}">
{% csrf_token %}
 <input type="text" name="search"><button name="submit" type="submit">Search</button></form>
 
<table width="100%" border="0">
  <tr valign="top">
    <td width="10%" bgcolor="#D6D6F5">
      <h4 align="center"> <b>Catogery</b> </h4><br />
      <li><a href="{% url 'shopicart:home' %}"> All </a> </li>
      {% for product in category %}
         <li><a href="{% url 'shopicart:category' product.id %}"> {{ product|capfirst }} </a>
         </li>
      {% endfor %}  
    </td>
    <td bgcolor="E6E6E6" height="1200" width="60%">
       
          {% for product in products %}
            <table width="100%">
              <tr>
                <th align="center" width="20%">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></th>
                  <th align="left" width="70%"> 
                  <p><b>Title : <b>{{ product.title|capfirst }}</p>
                   <p> <b>Price :</b>{{ product.price }}</p>
                   <p> <b>Discription :</b>{{ product.description|capfirst }}</p>
                   </th>        
                   <hr>
                   <th align="left" width="10%"><a href="{% url 'shopicart:addcart' product.id %}"><button>Add to Cart</button></a> </th> 
                 </tr>
            </table>
       {% endfor %}
    </td> 
   </tr>
<table>
</body>
</html>
</body>
</html>
