  <table width="100%" align="center" border="0">
    <tr valign="top">
    <td align="left " height="1200" width="15%" bgcolor="#D6D6F5">
      <h4 align="center"> <b>Catogery</b> </h4><br />
      <li><a href="{% url 'shopicart:home' %}"> All </a> </li>
      {% for product in category %}
         <li><a href="{% url 'shopicart:category' product.id %}"> {{ product|capfirst }} </a>
         </li>
      {% endfor %}
    </td>

    <td align="center" height="1200" width="85%" bgcolor="#E6E6E6"><hr />
    {% for product in products %}
    <table width="100%">
    <tr>
      <td class="tableImg">
        <img src = {{media}}{{ product.image }} height="100" width="100">
      </td>
      <td class="tableDec">
        <p><b>Title : <b>{{ product.title|capfirst }}</p>
        <p> <b>Price :</b>{{ product.price }}</p>
        <p> <b>Discription :</b>{{ product.description|capfirst }}</p>
      </td>
      <td class="tableLink">
        <a href="{% url 'shopicart:addcart' product.id %}"><button>Add to Cart</button></a>
      </td>
      </tr>
    </table>
    <hr />
       {% endfor %}
      </td>
    </tr>
  </table>

