{% load staticfiles %}
<script type="text/javascript" src={% static "shopicart/js/validation.js" %}>

function clearData(){
  document.getElementById('login').value = "";
  document.getElementById('password').value = "";
}
</script>

<body onload="clearData()">
 <form name="login"	action="{% url 'shopicart:logincheck' %}"  method="POST">
{% csrf_token %}
  Email ID :<br/>
  <input type="text" name="id">
  <br/>
  Password :<br/>
  <input type="password" name="password"><br /><br />
  <a href="{% url 'shopicart:register' %}">New user,Register here</a>
  <br /><br />
  <button type="submit" value="submit" onclick="return validateFormLogin(document.login.id.value,document.login.password.value)">Submit</button><br /><br />  
   <p> {{ message }} </p> 
</form> 
</body>
