<html> 
<head> 
<title>Home</title> 
</head> 
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "shopiart/css/table.css" %}" />
<body> 
{% csrf_token %}
<h3 align="center"> <header>Welcome to the Shopping Cart</header> </h4> 
<hr align="center">
<div align="right">
<p>Welcome, {{ username }} <a href="/shopicart/logout/">Logout</a></p> 
</div>
<p>
  <h3 align="left">Products in your   cart is</h3>
  <a href="/shopicart/home/">Back</a>
  <a href="/shopicart/home/">Home</a> 
  <a href="/shopicart/home/userCart/{{ userid }}/history/">History</a>   
  <a href="/shopicart/home/userCart/{{ userid }}/checkout/">Checkout</a> 
  <h3 align="center"><p>{{ message|capfirst }}</p></h3> 
  <hr>
</p>
<table width="100%" border="0">
  <tr valign="top">
    <td bgcolor="E6E6E6" height="1200" width="60%" align="center">
       {% for product in products %}
            <table width="100%">
              <tr>
                <th align="center" width="20%">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></th>
                  <th align="left" width="60%"> <p><b>Title : <b>{{ product.title|capfirst }}</p>
                   <p> <b>Price :</b>{{ product.price|capfirst }}</p>
                   <p> <b>Description :</b>{{ product.description|capfirst }}</p>
                   </th> 
                   <th width="20%" align="center"><p><b>Date :</b>{{ product.add_date }}</p></th>
                   <hr>
                   <th align="left" width="10%"><a href="/shopicart/home/userCart/{{ userid }}/removecart/{{ product.id }}/">Remove</a> 
                  </th>            
       {% endfor %}         
              </tr>
            </table>
    </td> 
   </tr>
<table>

</body>
</html>