 {% load mathfilters %}
 <table width="100%" align="center" border="0" bgcolor="E6E6E6">
 <hr /><br />
    {% for product in products %}
	<table width="100%">
       <tr>
                <td class="tableImg">
                   <img src = {{media}}{{ product.image }} height="100" width="100"></td>
                  <td class="tableDec"> <p><b>Title : <b>{{ product.title|capfirst }}</p>
                   <p> <b>Description :</b>{{ product.description|capfirst }}</p>
                   </td> 
                   {% for objuc in ucobj %}
                   {% if objuc.product_id == product.id %}
                   <td class="tableQty"> <b>Qty : </b>{{ objuc.qty }} </td>
                   <td class="tableDate"><p> <b>Price :</b>{{ product.price|mul:objuc.qty }}</p>
                   </td>
                   {% endif %}
                   {% endfor %}
                   <td class="tableDate"><p><b>Date :</b>{{ product.add_date.date }}</p></td>
                   <td class="tableLink"><a href="/shopicart/home/userCart/{{ userid }}/removecart/{{ product.id }}/">Remove</a>
                  </td>
         </tr>
    </table>
     <hr/>
     {% endfor %}
  </table>
