{% load staticfiles %}

<script type="text/javascript" src={% static "shopicart/js/validation.js" %}>

</script>
<body>
 <form name="register"	action="/shopicart/register/" method="POST">
 {% csrf_token %}
  Name :<br/>
  <input type="text" name="uid">
  <br/>
  Email ID :<br/>
  <input type="text" name="id">
  <br/>
  Password :<br/>
  <input type="password" name="password"><br />
  Confirm password :<br />
  <input type="password" name="password1"><br /><br />

  <button type="submit" value="submit" onclick="return validateFormRegister(document.register.uid.value,document.register.id.value,document.register.password.value,document.register.password1.value)">Sign Up</button><br /><br />
   <p> {{ message }} </p> 
</form> 
</body>
