 <form name="searchform" method="POST" action="{% url 'shopicart:search' %}">
 {% csrf_token %}
  <table width="100%">
    <tr>
      <td align="left" width="20%">
      <input type="text" name="search"><button name="submit" type="submit">Search</button> 
      </td>
      <td align="center" width="50%">
         <h4 align="center"><p> {{ message|capfirst }} </p></h4>  
      </td>
      <td align="right" width="10%">
        <a href="/shopicart/home/userCart/{{ userid }}/">View MyCart</a> 
      </td>
    </tr>
  </table>
 </form>
