.tableImg{
	text-align: center;
	width: 15%;
}

.tableDec{
	text-align:left;
	width: 50%;
}

.tableLink{
	text-align: right;
	width: 10%;
}

.tableDate{
	text-align: right;
	width: 15%
}
.tableQty{
	text-align: right;
	width: 5%;
}

.tablePrice{
	text-align: left;
	width: 15%;
}
